redisio:
  restart: always
  image: redis:latest
postgresql:
  restart: always
  image: postgres:latest
multistreamer:
  restart: always
  image: danraf77/re7:latest
  links:
   - redisio
   - postgresql

